name: Packer CI

on:
  push:
    branches:
      - A9

jobs:
  validate-packer-build:
    name: Validate Packer Template and Run Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      # Install MySQL and create database (if needed)
      - name: Install MySQL
        run: |
          sudo apt-get update
          sudo systemctl start mysql.service
          sudo mysql --user=${{ secrets.DBUSER }} --password=${{ secrets.DBPASSWORD }} -e "CREATE DATABASE IF NOT EXISTS ${{ secrets.DBNAME }};"

      # Set up Node.js and install dependencies
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "14"

      # Create log folder and file
      - name: Creating log folder and file
        run: |
          sudo mkdir -p /var/log/webapp
          sudo touch /var/log/webapp/logger.log

      # Install application dependencies and run tests
      - name: Install All Dependencies and Run Tests
        run: |
          npm install
          npm test

      # Zip application
      - name: Zip application
        run: zip -r webapp.zip .

      # Authenticate with Google Cloud
      - name: Authenticate with Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.AMRESH_DEVKEY }}

      # Set up Google Cloud SDK
      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      # Create Instance Template
      - name: Create Instance Template
        run: |
          gcloud compute instance-templates create webapp-vm-template-$(date +%Y%m%d-%H%M%S) \
            --project=devv-414701 \
            --machine-type=n1-standard-1 \
            --network-interface=subnet=webapp,no-address \
            --instance-template-region=us-east1 \
            --metadata=startup-script="#!/bin/bash
            if [ ! -f \"/opt/webapp/.env\" ]; then
                touch /opt/webapp/.env
            fi
            echo \"DBHOST=10.216.191.2\" > /opt/webapp/.env
            echo \"DBUSER=webapp\" >> /opt/webapp/.env
            echo \"DBPASSWORD=syLmFDhcrQCzNOSK\" >> /opt/webapp/.env
            echo \"DBNAME=webapp\" >> /opt/webapp/.env
            " \
                        --maintenance-policy=MIGRATE \
                        --provisioning-model=STANDARD \
                        --service-account=webapp@devv-414701.iam.gserviceaccount.com \
                        --scopes=https://www.googleapis.com/auth/pubsub,https://www.googleapis.com/auth/servicecontrol,https://www.googleapis.com/auth/service.management.readonly,https://www.googleapis.com/auth/logging.write,https://www.googleapis.com/auth/monitoring.write,https://www.googleapis.com/auth/trace.append,https://www.googleapis.com/auth/devstorage.read_only \
                        --region=us-east1 \
                        --tags=load-balanced-backend,allow-health-check,http-server \
                        --create-disk=auto-delete=yes,boot=yes,device-name=persistent-disk-0,image=projects/devv-414701/global/images/custom-image-27,mode=rw,size=100,type=pd-standard \
                        --no-shielded-secure-boot \
                        --shielded-vtpm \
                        --shielded-integrity-monitoring \
                        --reservation-affinity=any
