name: Packer CI

on:
  push:
    branches:
      - A9

jobs:
  validate-packer-build:
    name: Validate Packer Template and Run Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      # Authenticate with Google Cloud
      - name: Authenticate with Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.AMRESH_DEVKEY }}

      # Set up Google Cloud SDK
      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      # Create Instance Template
      - name: Create Instance Template
        id: create-template
        run: |
          TEMPLATE_NAME="webappinstance13"
          gcloud compute instance-templates create $TEMPLATE_NAME \
            --project=devv-414701 \
            --machine-type=n1-standard-1 \
            --network-interface=subnet=webapp,no-address \
            --instance-template-region=us-east1 \
            --metadata=startup-script="#!/bin/bash
            if [ ! -f \"/opt/webapp/.env\" ]; then
                touch /opt/webapp/.env
            fi
            echo \"DBHOST=10.216.191.2\" > /opt/webapp/.env
            echo \"DBUSER=webapp\" >> /opt/webapp/.env
            echo \"DBPASSWORD=syLmFDhcrQCzNOSK\" >> /opt/webapp/.env
            echo \"DBNAME=webapp\" >> /opt/webapp/.env
            " \
            --maintenance-policy=MIGRATE \
            --provisioning-model=STANDARD \
            --service-account=webapp@devv-414701.iam.gserviceaccount.com \
            --scopes=https://www.googleapis.com/auth/pubsub,https://www.googleapis.com/auth/servicecontrol,https://www.googleapis.com/auth/service.management.readonly,https://www.googleapis.com/auth/logging.write,https://www.googleapis.com/auth/monitoring.write,https://www.googleapis.com/auth/trace.append,https://www.googleapis.com/auth/devstorage.read_only \
            --region=us-east1 \
            --tags=load-balanced-backend,allow-health-check,http-server \
            --create-disk=auto-delete=yes,boot=yes,device-name=persistent-disk-0,image=projects/devv-414701/global/images/custom-image-27,mode=rw,size=100,type=pd-standard \
            --no-shielded-secure-boot \
            --shielded-vtpm \
            --shielded-integrity-monitoring \
            --reservation-affinity=any

  update-managed-group:
    name: Update Managed Instance Group
    needs: [validate-packer-build]
    runs-on: ubuntu-latest

    steps:
      # Authenticate with Google Cloud
      - name: Authenticate with Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.AMRESH_DEVKEY }}

      # Set up Google Cloud SDK
      - name: Set up Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      # Update Managed Instance Group
      - name: Update Managed Instance Group
        run: |
          gcloud compute instance-groups managed set-instance-template gp-manager \
            --project=devv-414701 \
            --region=us-east1 \
            --template=projects/devv-414701/regions/us-east1/instanceTemplates/webappinstance13
      - name: Start Rolling Update
        run: |
            gcloud beta compute instance-groups managed rolling-action start-update gp-manager \
            --project=devv-414701 \
            --type='opportunistic' \
            --max-surge=3 \
            --max-unavailable=3 \
            --min-ready=0 \
            --minimal-action='replace' \
            --most-disruptive-allowed-action=replace \
            --replacement-method='substitute' \
            --version=template=projects/devv-414701/regions/us-east1/instanceTemplates/webappinstance13 \
            --region=us-east1
