name: Packer CI

env:
    DBHOST: ${{ secrets.DBHOST }}
    DBUSER: ${{ secrets.DBUSER }}
    DBPASSWORD: ${{ secrets.DBPASSWORD }}
    DBPORT: ${{ secrets.DBPORT }}
    DBNAME: ${{ secrets.DBNAME }}

on:
  push:
    branches:
      - A6

jobs:
  validate-packer-build:
    name: Validate Packer Template and Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name : Install MySQL
        run: |
          sudo apt-get update
          sudo systemctl start mysql.service
          sudo mysql --user=${{ secrets.DBUSER }} --password=${{ secrets.DBPASSWORD }} -e "CREATE DATABASE IF NOT EXISTS ${DBNAME};"

      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "14"
      - name: Create log directory and file
        run: |
            sudo mkdir -p /var/log/webapp
            sudo touch /var/log/webapp/logger.log

      - name: Install All Dependencies
        run: npm install

      - name: Running Integration Test
        run: npm test

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Zip application
        run: zip -r webapp.zip .

      - name: Authenticate with Google Cloud
        id: auth
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.AMRESH_DEVKEY }}

      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2

      - name: Use gcloud CLI
        run: gcloud info

      - name: Install Packer
        run: packer init ./packer/packer.pkr.hcl

      - name: FMT Packer
        run: packer fmt ./packer/packer.pkr.hcl

      - name: Run Packer validate
        run: packer validate ./packer/packer.pkr.hcl

      - name: Run Packer Image Build
        run: packer build ./packer/packer.pkr.hcl