name: Packer CI

on:
  pull_request:
    branches: [main]
  push:
    branches: [A4]

jobs:
  validate-packer-template:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set Key
        run: echo 'amresh_devkey = "${{ secrets.AMRESH_DEVKEY }}"' >>./packer/packer.pkrvars.hcl 

      - name: Install Packer
        run: packer init ./packer/packer.pkr.hcl

      - name: Run packer validate
        run: |
           
           packer validate -var-file=./packer/packer.pkrvars.hcl ./packer/packer.pkr.hcl

      - name: Run packer fmt
        run: |
          packer build -var-file=packer.pkrvars.hcl packer.pkr.hcl
