name: Run Tests

env:
  DBHOST: ${{ secrets.DBHOST }}
  DBUSER: ${{ secrets.DBUSER }}
  DBPASSWORD: ${{ secrets.DBPASSWORD }}
  DBPORT: ${{ secrets.DBPORT }}
  DBNAME: ${{ secrets.DBNAME }}

on:
  push:
    branches:
      - NewA3
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:latest
        env:
          MYSQL_ROOT_HOST: ${{ secrets.DBHOST }}
          MYSQL_DATABASE: ${{ secrets.DBNAME }}
          MYSQL_ROOT_PASSWORD: ${{ secrets.DBPASSWORD}}
        ports:
          - 3306:3306
        options: --health-cmd="mysqladmin ping" --health-interval=10s --health-timeout=5s --health-retries=3

    steps:
      - name : Install MySQL
        run: |
          sudo apt-get update
          sudo systemctl start mysql.service
          sudo mysql --user=${{ secrets.DBUSER }} --password=${{ secrets.DBPASSWORD }} -e "CREATE DATABASE IF NOT EXISTS ${DBNAME};"

      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "14"

      - name: Install Dependencies
        run: npm install

      - name: Run Tests
        run: npm test
